.read-more {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
    display: none;
}

.read-more-state {
  display: none;
}

.read-more-state:checked ~ .read-more {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  display: inherit;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Continue reading...';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less...';
}

.read-more-trigger {
  cursor: pointer;
  padding: .6em 1.25em;
  color: $brand-color;
  font-family: $mono-font-family;
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .08em;
  line-height: 2;
  border: 1px solid $brand-color;
  border-radius: 999px;
  font-weight: 400;
  display: inline-grid;
  text-align: center;

  &:hover {
    color: $background-color;
    background-color: $brand-color;
  }
}
